<div class="text-center">
    <h1>
        {{title}}
    </h1>
</div>
<div>
    {{#if products.length }}
    <table id="tableProduct" class="table table-striped table-dark">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Code</th>
            <th scope="col">Stock</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Thumbnail</th>
            </tr>
        </thead>
        {{#each products}}
            <tbody>
                <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.description}}</td>
                <td><img
                        class="img"
                        src="{{this.thumbnail}}"
                        alt="imagen"
                /></td>
                </tr>
            </tbody>
        {{/each}}
        </table>
        {{else}}
            <h3>No products</h3>
        {{/if}}
</div>
<div class="row d-flex justify-content-around">
    <div class="col-md-3 d-inline-flex p-2">
        <form id="formDelete" class="card card-body rounded-0 text-center">
            <h3 class="mb-5">Delete a Product</h3>
            <input type="text" required id="deleteProd" name="deleteProd" placeholder="Ingrese el id" class="form-control rounded-0 mb-3">
            <input class="btn btn-dark rounded-0 mb-3" type="submit" value="Eliminar">
        </form>
    </div>
    <div class="col-md-7 d-inline-flex p-2">
        <form id="addProduct" class="card card-body rounded-0 text-center" action="">
            <h3 class="mb-5">Add a Product</h3>
            <input type="text" required id="title" name="Title" placeholder="Ingrese el nombre" class="form-control rounded-0 mb-3">
            <input type="number" required id="price" name="Price" placeholder="Ingrese el precio" class="form-control rounded-0 mb-3">
            <input type="text" required id="code" name="Code" placeholder="Ingrese el code" class="form-control rounded-0 mb-3">
            <input type="number" required id="stock" name="stock" placeholder="Ingrese el stock" class="form-control rounded-0 mb-3">
            <input type="text" required id="category" name="Categoty" placeholder="Ingrese la categoria" class="form-control rounded-0 mb-3">
            <input type="text" required id="description" name="Description" placeholder="Ingrese la descripcion" class="form-control rounded-0 mb-3">
            <input class="controls" type="file" name="thumbnail" id="thumbnail" placeholder="Ingrese imagen"><br>
            <input class="btn btn-dark rounded-0 mb-3" type="submit" value="Cargar">
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.min.js"></script>
<script src="/js/realTimeProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>